@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none; /*gets rid of the underline under the text*/
}

header {
    background: #008FAC;
}

.title {
    padding: 1rem 8rem;
    color: white;
}

nav.topnav {
    background: #e8e8e8;
    padding: 1rem 8rem;
}

.navlist {
    list-style: none;
    display: inline-block;
    font-family: Helvetica Neue;
    color: black;
}

.seperator {
    margin: 0 1rem;
}

main {
    display:flex
}

.left-side {
    display:block;
    width: 45%;
    margin-left: 8rem;
    margin-right:2rem;
    padding-top: 1rem;
}

h3, blockquote {
  color: #008FAC;
}

h1, h2, h3, h4, h5, small, figure {
font-family: Helvetica Neue;
padding-top: 1rem;
}

blockquote {
  padding-top: 2rem;
  font-family: 'Open Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.highlighted-text {
  color: #008FAC;
}

article {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.right-side{
    display: block;
    width: 30%;
    margin-right: 5rem;
    margin-left: 1rem;
    padding-top: 1rem;
}

figure {
  margin: auto;
  padding-bottom: 1rem;
}

figcaption {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer {
    background:#4d4d4d;
    display: flex;
    flex-direction:column;
    align-items:center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}

aside {
  font-family: 'Open Sans', sans-serif;
}
